*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --color0:#e5f2fa;
    --color1:#92d0cb;
    --color2:#4da9a2;
    --color3:#4f256d;

}

        body{
            background-color:var(--color3); 
            height: 100vh;   
        }

        section{
            background-color: white;
            border-radius: 20px;
            width: 50vh;
            text-align: center; 
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        section div#image{
            display: block;
            background-image: url(img/arranha-céu.png);
            background-size: cover;
            background-position: center center;
            height: 30vh;
            width: 100%;
        }

        section div#div-login{
            display: block;
            padding: 5px;
        }
        section div#div-login h2{
            margin-bottom: 10px;
        }
        section div#div-login p{
            margin-bottom: 15px;
        }
        section div#div-login div.input-p{
            background-color: var(--color3);
            width: 100%;
            margin: 5px auto;
            border-radius: 5px;
        }

        section div#div-login div.input-p span{
            color: white;
            font-size: 2em;
            width: 40px;
            padding: 5px;
            display: block;
            transform: translateY(20px);
        }

        section div#div-login div.input-p input{
            
            border-radius: 5px;
            background-color: var(--color1);
            font-size: 1em;
            height: 100%;
            padding: 4px;
            width: calc(100%-34px);
            transform: translateY(-15px);
        }

        section div#div-login div.input-p input:focus{
            background-color: var(--color0);
        }
        
        section div#div-login input#enter{
            background-color: var(--color2);
            display: block;
            color: white;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            border: none;
            margin: 5px auto;
            cursor: pointer;
            
        }

        section div#div-login div#forget{
            background-color: white;
            display: block;
            width:100%;
            border-style: solid;
            border-color: var(--color2);
            border-radius: 5px;
            border-width: 1px;
            margin: 5px auto;
            cursor: pointer;
        }

        
    @media screen and (min-width: 601px) and (max-width: 992px){ 

        body{
            background-image: linear-gradient(#4f256d, #92d0cb);
        }
        
        section{
            width: 90vh;
            height: 70%;
        }

        section div#image{
            background-position: center left;
            height: 100%;
            width: 40%;
            float: left;
        }
        section div#div-login{
            float: right;
            width: 58%;
        }

        section div#div-login h2{
            font-size: 2em;
        }
        section div#div-login p{
            font-size: 1.2em;
        }

        section div#div-login div.input-p{
            font-size: 1.2em;
        }

        section div#div-login input#enter{

            font-size: 1.3em;
        }

        section div#div-login div#forget{

            font-size: 1.3em;
        }

    }

    @media screen and (min-width: 993px){
            
        body{
            background-image: linear-gradient(#4f256d, #92d0cb);
        }
        
        section{

            width: 992px;
            height: 70%;
            position: absolute;
        }

        section div#image{
            background-position: center left;
            height: 100%;
            width: 40%;
            float: right;
        }

        section div#div-login{
            float: left;
            width: 58%;
        }

        section div#div-login h2{
            font-size: 3em;
        }
        section div#div-login p{
            font-size: 1.5em;
        }

        section div#div-login input#enter{

            font-size: 1.3em;
        }

        section div#div-login div#forget{

            font-size: 1.3em;
        }
    }
